<section class="sectionProductos">
    <h2 class="titleH1">Lista De productos</h2>
    {{#if msjErr}} 
        {{>mensajeErr}}
    {{else if err500}}
        {{>err500}}
    {{/if}}
    <table class="tabla" id="tabla" {{#if msjErr}} hidden {{else if err500}} hidden {{/if}}>
        <caption class="tabla__tituloDeLaTabla">Productos</caption>
        <tr>
            <th class="tabla__th">Nombre</th>
            <th class="tabla__th">imagen</th>
            <th class="tabla__th">precio</th>
        </tr>
        {{#each listaDeProductos}}
            <tr>
                <td><p class="tabla__title">{{this.title}}</p></td>
                <td><img class="tabla__img" src={{this.thumbnail}}/></td>
                <td><p class="tabla__price">{{this.price}}$</p></td>
            </tr>
        {{/each}}
    </table>
</section>